<p class="heading">Shop By Top Gym Equipment Brands</p>
<div class="container">
    <div class="card" routerLink="/equipments/Cybex">
        <img src="/assets/gym brands/cy.jpg">
    </div>
    <div class="card" routerLink="/equipments/FITLINE">
        <img src="/assets/gym brands/Fitline.avif">
    </div>
    <div class="card" routerLink="/equipments/Life Fitness">
        <img src="/assets/gym brands/Life-Fitness.png">
    </div>
    <div class="card" routerLink="/equipments/Precor">
        <img src="/assets/gym brands/precor.png">
    </div>
    <div class="card" routerLink="/equipments/Hammer Strength">
        <img src="/assets/gym brands/HS.jpg">
    </div>
    <div class="card" routerLink="/equipments/Schwinn">
        <img src="/assets/gym brands/schwinn.png">
    </div>
    <div class="card" routerLink="/equipments/Sci Fit">
        <img src="/assets/gym brands/SCIFIT.png">
    </div>
    <div class="card" routerLink="/equipments/SF Health Tech">
        <img src="/assets/gym brands/sf.webp">
    </div>
    <div class="card" routerLink="/equipments/Lifelong">
        <img src="/assets/gym brands/lfl.jpg">
    </div>
</div>