<div class="main">
    <p class="heading">Top Best Selling Categories</p>
    <div >
        <div class="container">
            <div class="card">
                <div class="image"><img src="assets/weigths.webp"></div>
                <div class="info">Weigths and Barbells</div>
            </div>
            <div class="card">
                <div class="image"><img src="assets/machine.webp"></div>
                <div class="info">Machines</div>
            </div>
            <div class="card">
                <div class="image"><img src="assets/traidmill.jpg"></div>
                <div class="info">Cardio</div>
            </div>
            <div class="card">
                <div class="image"><img src="assets/belts.webp"></div>
                <div class="info">Accessories</div>
            </div>
            <div class="card">
                <div class="image"><img src="assets/supp.jpg"></div>
                <div class="info">Supplements</div>
            </div>
            <div class="card">
                <div class="image"><img src="assets/clothing.webp"></div>
                <div class="info">Clothing</div>
            </div>
        </div>
    </div>
</div>