<!-- <div class="body">
    <div class="footer">
        <div class="div1">
            <div class="logo"><img src="assets/logo.jpg"></div>
            <p>FitEssentials Hub Limited<br>
                Adding fuel to every fitness fanatic's passion with the best equipment. Experts in setting
                home/commercial
                Gyms & CrossFit boxes PAN India </p>
            <p>001 xyz abc Nagar Nagpur - 440012</p>
            <fa-icon [icon]="faInstagram" class="icons"></fa-icon>
            <fa-icon [icon]="faSquareFacebook" class="icons"></fa-icon>
        </div>

        <div class="div2">
            <h3>Shop</h3>
            <ul>
                <li><a>Weights & Barbells</a></li>
                <li><a>Machines</a></li>
                <li><a>Cardio</a></li>
                <li><a>Accessories</a></li>
                <li><a>Suppliments</a></li>
                <li><a>Clothing</a></li>
            </ul>

        </div>

        <div class="div3">
            <h3>Info</h3>
            <ul>
                <li><a>Account</a></li>
                <li><a>Custom Quote</a></li>
                <li><a>Tutorials</a></li>
                <li><a>Blog</a></li>
                <li><a>Terms & Conditions</a></li>
                <li><a>Privacy Policy</a></li>
            </ul>
        </div>

        <div class="div4">
            <ul>
                <h3>-</h3>
                <li><a>Payment Policy</a></li>
                <li><a>Equipement Warranty</a></li>
                <li><a>Replacement & Shipping</a></li>
                <li><a>Pre-order T&C</a></li>
            </ul>
        </div>

    </div>


    <div class="div6">
        <div class="sales">
            <h3>Sales</h3>
            <a><fa-icon [icon]="faPhoneVolume" class="icons"></fa-icon>+910123456789</a>
            <a><fa-icon [icon]="faWhatsapp" class="icons"></fa-icon>+910123456789</a>
            <a><fa-icon [icon]="faEnvelope" class="icons"></fa-icon>abc&#64;fitessentials.com</a>
        </div>
        <div class="cs">
            <h3>Customer Service</h3>
            <a><fa-icon [icon]="faPhoneVolume" class="icons"></fa-icon>+910123456789</a>
            <a><fa-icon [icon]="faWhatsapp" class="icons"></fa-icon>+910123456789</a>
            <a><fa-icon [icon]="faEnvelope" class="icons"></fa-icon>abc&#64;fitessentials.com</a>
        </div>

    </div>
   

    <div class="div7">
        <div class="div8">
            <span>Privacy Policy</span>
            <span>Terms & Conditions</span>
        </div>
        <div class="cards">
            <img src="assets/cards.png">
        </div>
    </div>

</div> -->


