<div class="main">
    <ng-container *ngIf="productData">
        <div class="product">
            <div class="image">
                <img src="{{productData.productImage}}">
            </div>

            <div class="details">
                <p class="heading">{{productData.productBrand}} {{productData.productName}}</p>

                <div class="cost" *ngIf="!productData.productDiscount">
                    <p><fa-icon [icon]="faIndianRupee" class="cross"></fa-icon>
                        {{productData.productCost | number:"1.0-0" }}</p>
                </div>
                <div class="cost" *ngIf="productData.productDiscount">
                    <p class="discountPrice"><fa-icon [icon]="faIndianRupee" class="cross"></fa-icon>
                        {{productData.productCost - productData.productCost * productData.productDiscount/100 |
                        number:"1.0-0" }}</p>

                    <p class="productCost" *ngIf="productData.productDiscount && productData.productDiscount>0"><fa-icon
                            [icon]="faIndianRupee" class="cross"></fa-icon>
                        {{productData.productCost | number:"1.0-0" }}</p>
                    <p class="discount" *ngIf="productData.productDiscount>0"> {{productData.productDiscount}}% off</p>
                </div>
                <div class="tax">(Tax and shipping cost calculated at checkout.)</div>
                <div class="Description">
                    Net Weight : {{productData.productWeight}}
                </div>

                <div class="stock"><div class="dot"></div>In Stock</div>
                <div class="add-to-cart">
                    <div class="quantity">
                        <div class="span-2">Qty : </div>
                        <div> <button (click)="handleQuantity('min')" class="btn-1">-</button>
                            <input placeholder="{{productQuantity}}">
                            <button (click)="handleQuantity('plus')" class="btn-1">+</button>
                        </div>

                    </div>

                    <div>
                        <button class="btn-2" (click)="AddToCart()" *ngIf="!removeCart"><fa-icon [icon]="faCartShopping"
                                class="icons"></fa-icon>ADD TO CART</button>

                        <button class="btn-3" (click)="RemoveFromCart(productData._id)" *ngIf="removeCart"><fa-icon
                                [icon]="faTrash" class="icons"></fa-icon>REMOVE ITEM</button>
                    </div>
                </div>

                <span *ngIf="maxQuantity" class="span-3">Max Quantity</span>

                <div class="policy">
                    <div class="policy-1"><fa-icon [icon]="faTruck" class="cross"></fa-icon>
                        <p>Fast Delivery</p>
                    </div>
                    <div class="policy-1"><fa-icon [icon]="faRotate" class="cross"></fa-icon>
                        <p>Easy return & exchange</p>
                    </div>
                    <div class="policy-1"><fa-icon [icon]="check" class="cross"></fa-icon>
                        <p>Best quality products </p>
                    </div>
                    <div class="policy-1"><fa-icon [icon]="faShield" class="cross"></fa-icon>
                        <p>5 year warrenty</p>
                    </div>
                </div>

                <div class="features">
                    <div *ngIf="productData.productFeatures" class="dtls" (click)="togglefn('features')"  >
                        <p class="bold">Features <fa-icon [icon]="up" class="arrow" *ngIf="show['features']"></fa-icon><fa-icon
                                [icon]="down" class="arrow" *ngIf="!show['features']"></fa-icon>
                        </p>
                        <p *ngIf="show['features']">{{productData.productFeatures}}</p>
                    </div>
                    <div class="dtls"  (click)="togglefn('description')">
                        <p class="bold">Description <fa-icon [icon]="up" class="arrow"
                                *ngIf="show['description']"></fa-icon><fa-icon [icon]="down" class="arrow" *ngIf="!show['description']"></fa-icon>
                        </p>
                        <p *ngIf="show['description']">{{productData.productDescription}}</p>
                    </div>

                    <div class="dtls"  (click)="togglefn('info')">
                        <p class="bold">Shipping Information <fa-icon [icon]="up" class="arrow"
                                *ngIf="show['info']"></fa-icon><fa-icon [icon]="down" class="arrow" *ngIf="!show['info']"></fa-icon>
                        </p>
                        <div *ngIf="show['info']">
                            <p>Pan India Free Shipping on orders above Rs 5,000.</p>
                            <p>Nagpur:Free Shipping on all orders.</p>
                            <p>For more read our T&c.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <app-related-products></app-related-products>
</div>