<div class="main">
  <div class="flex">
    <div class="column-1">
      <img src="assets/plates.jpg">
    </div>
    <div class="column-2">
      <div class="text">
        <div class="bold">Incredible Upto 50% off on selected Products!</div>
        <div class="light"> "Empowering Your Fitness Goals: From Top-of-the-Line Machines to High-Quality Supplements
          and Stylish
          Apparel, We've Got You Covered!
        </div>
        <button>SHOP NOW</button>
      </div>
    </div>
  </div>
</div>


<app-best-sellers></app-best-sellers>
<app-top-deals></app-top-deals>
<app-shop-by-brands></app-shop-by-brands>
<app-shop-by-category></app-shop-by-category>
<app-why-fitessentials></app-why-fitessentials>